@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700;800;900&display=swap");

body {
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: none;
}

.footer {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 8px;
    text-align: left;
    background-color: #362b48;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    color: white;
    height: fit-content;
}

.container {
    padding: 16px;
}
